<div
    class="container w-25 position-absolute top-50 start-50 translate-middle border border-2 border-info p-4 rounded-3">
    <form>
        <div class="mb-3">
            <label for="exampleInputName" class="form-label fs-5 text-warning">Student Name : </label>
            <input #name type="text" class="form-control input-colour fs-5 bg-transparent" id="exampleInputName" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputAge" class="form-label fs-5 text-warning">Student Age : </label>
            <input #age type="number" class="form-control input-colour fs-5 bg-transparent" id="exampleInputAge" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputTrack" class="form-label fs-5 text-warning">Student Track : </label>
            <input #track type="text" class="form-control input-colour fs-5 bg-transparent" id="exampleInputTrack" required>
        </div>

        <div class="d-grid gap-2 col-6 mx-auto">
            <button routerLink="/" type="submit" class="btn btn-transparent text-info fs-5 fw-bold form-btn"
                (click)="Add(name.value, age.value, track.value)">Add</button>
        </div>
    </form>
</div>